.introduction {
  min-height: 100vh;
  @include flex(column, space-around, center);
  flex-direction: column;
  background: lightcoral;

  h2 {
    font-size: $big-font;
  }

  button {
    border: none;
    background: $primary;
    padding: 1rem 3rem;
    transition: 1s ease all;
    cursor: pointer;
    &:hover {
      background: rgb(92, 164, 189);
    }
  }
}
